.banner {
    min-width: 100%;
    height: 550px;
    background-image: url('../assets/poster.png');
    object-fit: contain;
    margin-bottom: 63px;
}

.banner-text {
    display: flex;
    align-items: center;
    height: 550px;
    margin-left: 77px;
    width: 490px;
    line-height: 93.74px;
    letter-spacing: -3px;
}

.banner-text h1 {
    color: white;
    font-size: 72px;
    font-family: 'DM Sans', sans-serif;
}

@media(max-width:850px) {
    .banner {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .banner-text {
        justify-content: center;
        text-align: center;
        margin: 0px;
    }
}

@media(max-width:400px) {
    .banner {
        height: 250px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .banner-text {
        justify-content: center;
        text-align: center;
        margin: 0;
        width: 273px;
        height: 73px;
        padding-left: 15px;
        line-height: 36px;
    }
    .banner-text h1 {
        color: white;
        font-size: 28px;
    }
}