.row {
    margin-left: 77px;
    margin-top: 48px;
    margin-bottom: 0;
}

.row h1 {
    font-size: 24px;
}

.row-items {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    margin-top: 18px;
}

.row-items::-webkit-scrollbar {
    display: none;
}

.row-item {
    object-fit: contain;
    width: 300px;
    height: 300px;
    margin-right: 13px;
    padding: 10px;
    background-size: cover;
}